.tit,
.skills_tit {
   color: var(--theme-font-color);
   font-size: 24px;
}

.box_wrap {
   width: 70%;
   padding-top: 65px;
   padding-bottom: 60px;
   background-color: var(--opacity-background-color);
   border-radius: 14px;
   box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
   margin: 80px auto 0;
}

/* about */
.content {
   padding: 100px 3.125rem 0;
}

.main {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.produce {
   font-size: 17px;
   color: var(--theme-font-color);
   margin-top: 5px;
}

.description {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding-top: 40px;
   color: var(--theme-font-color);
}

.profile_img {
   width: 230px;
   height: auto;
   margin-right: 65px;
}

.contact {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contact_job {
   color: dodgerblue;
   font-size: 23px;
}

.contact_name {
   font-size: 26px;
   margin-top: 6px;
}

.contact_detail {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.contact_detail_tit {
   color: firebrick;
   font-size: 18px;
   margin-top: 40px;
   margin-bottom: 5px;
}

.contact_channel {
   font-size: 24px;
   margin-top: 40px;
}

.contact_channel a {
   color: var(--theme-font-color);
}

.contact_channel a:hover {
   color: var(--gray-color);
}

/* skills */
.skills {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.skills_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
}

.skill,
.tool {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 20px;
}

.skill li {
   background-color: var(--green-color);
   border-radius: 20px;
   padding: 9px 15px;
   font-size: 13px;
   line-height: 1.23;
   font-weight: 600;
   margin-right: 3px;
   margin-bottom: 5px;
}

.tool li {
   background-color: var(--orange-color);
   border-radius: 20px;
   padding: 9px 15px;
   font-size: 13px;
   line-height: 1.23;
   font-weight: 600;
   margin-right: 3px;
   margin-bottom: 5px;
}

.division_line {
   position: relative;
   top: -10px;
   width: 85%;
   height: 1px;
   background-color: var(--gray-color);
}

@media screen and (max-width: 767px) {
   .content {
      padding: 80px 1.2rem 0;
   }

   .box_wrap {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 55px;
      box-shadow: 2px 5px 12px 3px rgb(0 0 0 / 9%);
   }

   .description {
      flex-direction: column;
   }

   .profile_img {
      margin-right: 0;
   }

   .contact_job {
      margin-top: 30px;
   }
}
