.theme {
   display: flex;
   flex-direction: row;
}

.light,
.dark {
   width: 36px;
   height: 36px;
   font-size: 20px;
   stroke: var(--nav-font-color);
}

.light:hover,
.dark:hover {
   width: 36px;
   height: 36px;
   border-radius: 18px;
   background-color: var(--gray-color);
}

.screen_out {
   position: absolute;
   width: 0;
   height: 0;
   overflow: hidden;
   line-height: 0;
   text-indent: -9999px;
}
